@font-face {
  font-family: 'dissolve';
  src: url('./fontfiles/DISOLVE_REGULAR.TTF');
}

@font-face {
  font-family: 'nanumbarun';
  src: url('./fontfiles/NANUMBARUNPENR.TTF');
}

@font-face {
  font-family: 'nanumgothic';
  src: url('./fontfiles/NANUMGOTHIC.TTF');
}

@font-face {
  font-family: 'nanumsquare';
  src: url('./fontfiles/NANUMSQUARE.TTF');
}

@font-face {
  font-family: 'nanumsquareround';
  src: url('./fontfiles/NANUMSQUARE.TTF');
}

@font-face {
  font-family: 'natosans';
  src: url('./fontfiles/NOTOSANSKR-REGULAR.OTF');
}

@font-face {
  font-family: 'suncheon';
  src: url('./fontfiles/SuncheonR.ttf');
}

@font-face {
  font-family: 'digikyokasho';
  src: url('./fontfiles/UDDIGIKYOKASHON-B.TTC');
}
